@using FinVue.Core.DataTransferObjects
@using FinVue.Core.Services
@using FinVue.Core.Entities
@using FinVue.Core.Enums
@using System.Globalization

@inject CategoryService CategoryService

<div class="">
    <h1 class="color-primary">Neue Kategorie</h1>
    <div class="inputs">
        <div>
            <div class="input">
                <label for="fname" class="low-opac">Name</label>
                <input id="fname" @bind="CategoryName" required />
            </div>
            <div class="input">
                <label for="fcolor" class="low-opac">Farbe</label>
                <input id="fcolor" type="color" required />
            </div>
        </div>
    </div>
    <button class="btn btn-primary"
            hx-post="/addCategory"
            hx-target="closest .counter"
            hx-swap="outerHTML">
        Hinzufügen
    </button>
</div>


@code {
    [Parameter, EditorRequired]
    public string CategoryName { get; set; } = string.Empty;
    public HtmxAddCategory State { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
    }
    public class HtmxAddCategory {
        public Category Category { get; set; } = new Category(new Guid().ToString(), CategoryName);
    }
}

