@using FinVue.Web.Components.Layout
@using FinVue.Web.Components.Shared
@using Newtonsoft.Json
@page "/"
@page "/year"
@page "/year/{Year:int}"

<PageTitle>@Year - Dashboard</PageTitle>

<SideNav Year="@Year" />

<section id="view-content">
    <h1 class="span-cols align-left category-select">All Categories</h1>
    <div>
        <ProfitCard Title="Total Income" Value="25.000,24 €" AverageValue="2.000,24 €"/>
    </div>
    <div>
        <ProfitCard Title="Total Outcome" ReverseColors="true" Value="4.000 €" AverageValue="123 €"/>
    </div>
    <div>
    <ProfitCard Title="Total Profit" Value="3.000,24 €" AverageValue="125,24 €"/>
    </div>
    
    
    <canvas id="profit-chart" class="span-cols back2" style="width:100%; height: 20rem"></canvas>
    
</section>
<script>
const income = JSON.parse("@JsonConvert.SerializeObject(IncomeSumsPerMonth)");
const outcome = JSON.parse("@JsonConvert.SerializeObject(OutcomeSumsPerMonth)");
const months = ["Jan", "Feb", "Mar", "May", "Apr", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"];

new Chart("profit-chart", {
  type: "line",
  data: {
    labels: months,
    datasets: [{
      data: outcome,
      borderColor: "#ac4d4d",
      fill: false,
      label: "Outcome"
    },{
      data: income,
      borderColor: "#81a975",
      fill: false,
      label: "Income"
    },{
      data: income.map((e,i) => e-outcome[i]),
      borderColor: "#ede3e390",
      fill: false,
      label: "Profit"
    }]
  },
  options: {
    legend: {display: true}
  }
});

</script>

@code {

    [Parameter]
    public int Year { get; set; }
    
    public double[] IncomeSumsPerMonth { get; set; }
    public double[] OutcomeSumsPerMonth { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();
        Year = Year == 0 ? DateTime.Now.Year : Year;
        IncomeSumsPerMonth = new[] {
            2000.00,
            1893.00,
            1893.00,
            1993.00,
            2000.00,
            1893.00,
            1893.00,
            1993.00,
            2000.00,
            1893.00,
            3293.00,
            1993.00,
        };       
        OutcomeSumsPerMonth = new[] {
            534.00,
            3485.00,
            1094.00,
            3552.00,
            3316.00,
            524.00,
            1719.00,
            461.00,
            926.00,
            875.00,
            2695.00,
            2501.00,
        };
    }

}